.bluegray1 {
    background-color:rgb(147, 182, 206)!important;
}
.bluegray2 {
    background-color: rgb(189, 226, 226)!important;
}
.gray1 {
    background-color: rgb(36, 42, 54)!important;
}

.str1 {
  color: rgb(36, 42, 54) !important;
}
.str2 {
    color: rgb(189, 226, 226)!important;
}